*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}
.container{
    min-height:100vh;
    transition:0.3s;
}

/* Navbar */
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
    background:#1976d2;
    color:white;
}
.navbar h2{
    font-size:28px;
}
.navbar-info{
    text-align:right;
}

/* Layout */
.main-layout{
    display:flex;
}

/* Sidebar */
.sidebar{
    width:250px;
    min-height:90vh;
    background:#263238;
    color:white;
    padding:20px;
}
.sidebar ul{
    list-style:none;
    margin-top:20px;
}
.sidebar li{
    padding:12px;
    cursor:pointer;
    border-radius:6px;
}
.sidebar li:hover{
    background:#455a64;
}

/* Content */
.content{
    flex:1;
    padding:30px;
}

/* Card */
.card{
    border-radius:10px;
    padding:20px;
    margin-bottom:20px;
    box-shadow:0 2px 8px rgba(0,0,0,.15);
}

/* Buttons */
button{
    padding:10px 18px;
    background:#1976d2;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}
button:hover{
    background:#125aa0;
}

/* Props Drilling */
.box{
    border:1px solid gray;
    padding:15px;
    margin-top:15px;
}

/* Responsive */
@media(max-width:768px){
.main-layout{
    flex-direction:column;
}
.sidebar{
    width:100%;
    min-height:auto;
}
.navbar{
    flex-direction:column;
    gap:15px;
}
}
.container.light{
    background:#f4f6f9;
    color:#000;
}

.container.dark{
    background:#111827;
    color:#fff;
}

.container.light .card {
    background: white;
    color: black;
}

.container.dark .card {
    background: #374151;
    color: white;
}

.container.light .sidebar {
    background: #263238;
}

.container.dark .sidebar {
    background: #111827;
}

.container.light .navbar {
    background: #1976d2;
}

.container.dark .navbar {
    background: #0f172a;
}