<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <!-- CSS Box Model -->
    <div class="box">Content Area</div>
    <!-- Padding Examples -->
    <div class="padding-box">Padding Example</div>
    <!-- Margin Example -->
    <div class="margin-box">Margin Example</div>
    <!-- Borders -->
    <div class="solid">Solid</div>
    <div class="dashed">Dashed</div>
    <div class="dotted">Dotted</div>
    <div class="double">Double</div>
    <!-- Border Radius -->
    <div class="border-radius">Border Radius</div>
    <!-- Box Sizing -->
    <div class="content-box">Content Box</div>
    <div class="border-box">Border Box</div>
    <!-- Margin Collapse -->
    <div class="one">First</div>
    <div class="two">Second</div>
    <!-- Overflow Visible -->
    <div class="overflow-visible">
        Very long text
        Very long text
        Very long text
    </div>
    <div class="overflow-hidden">
        Very long text
        Very long text
        Very long text
    </div>
    <div class="overflow-scroll">
        Very long text
        Very long text
        Very long text
    </div>
    <div class="overflow-auto">
        Very long text
        Very long text
        Very long text
    </div>
    <!-- Outline -->
    <div class="outline-box">Outline Example</div>
    <!-- Display Property -->
    <div class="box">Block</div>
    <div class="inline">Inline</div><br><br>
    <div class="inline-block">
        <button>Box1</button>
       <button>Box2</button>
       <button>Box3</button>
       <button>Box4</button>
    </div>
    <div class="none">None</div>
    <!-- Position -->
    <div class="static">Static</div>
    <div class="relative">Relative</div><br>
    <div class="parent">
        <div class="child">
            Absolute
        </div>
    </div><br>
    <div class="fixed">Chat</div><br>
    <div class="sticky">Sticky</div>
    <!-- Float and clear -->
    <div class="left">Left</div>
    <div class="right">Right</div>
    <div class="clear">Clear</div><br>
    <!-- Flex Box -->
    <!-- Flex Box = One Direction(Vertical or Horizontal) -->
    <div class="container-row">
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
        <div>7</div>
        <div>8</div>
    </div><br>
     <div class="container-column">
        <div>1</div>
        <div>2</div>
        <div>3</div>
    </div>  

</body>
</html>