* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.container {
  width: 850px;
  max-width: 95%;
  margin: 30px auto;
}

h1 {
  text-align: center;
}

form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

.search {
  background: white;
  margin-bottom: 15px;
}

button {
  padding: 8px 14px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.user-card {
  background: white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error {
  color: red;
  font-weight: bold;
}

.status {
  text-align: center;
  margin-top: 50px;
}